*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../img/fondo1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.contenedor{
	padding: 0px;
}

.transparencia{
	background-color: rgba(0,0,0,0.6);
}

.img{
	width: 20%;
    margin-top: 122px;
    opacity: 0.6;
}

.absolute{
	position: absolute;
    top: 160px;
}

.button{
	background: rebeccapurple;
}

.button1{
	background: mediumaquamarine;
}

.button, .button1{
	border: none;
    color: white;
    width: 64%;
    height: 57px;
    font-size: 1.6em;
    left: 30px;
}

.transparencia{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
}

.padding{
	padding: 13px;
}