*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/*body{
	background-image: url("../img/fondo1.jpg");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}*/

.fondo{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.contenedor{
	padding: 0px;
}

.img{
	width: 32%;
    margin-top: 122px;
}

.absolute{
	position: absolute;
    top: 160px;
}

.button{
	background: rebeccapurple;
}

.button1{
	background: mediumaquamarine;
}

.button, .button1{
	border: none;
    color: white;
    height: 57px;
    font-size: 1.6em;
    display: inline-block;
    padding: 14px 37px;
}

.transparencia{
	background-image: url("../img/fondo1.jpg");
	background-size: cover;
	height: 100vh;
}

.buttons{
	position: absolute;
    bottom: 4%;
    width: 100%;
    text-align: center;
}
