body{
	background-color: black;
}

#mapa, .absolute {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.logo{
	position: absolute;
    top: 100px;
    left: 37.5%;
    z-index: 1;
    width: 25%;
}

.icono-1{
	position: absolute;
    top: 150px;
    left: 10%;
    z-index: 1;
    font-size: 5em;
}

.absolute{
	background-color: rgba(0,0,0,.6);
	z-index: 1;
}

.none{
	display: none;
}

#menu{
	position: absolute;
	top: 0;
	bottom: 0px;
	right: 25%;
	left: 0;
	background-color: white;
	z-index: 2;
}

.contenedor{
	border-radius: 50%;
    width: 52%;
    height: 21%;
    margin: 73px 24% 10px;
    border: 1px solid gray;
    padding: 19px;
}

.user{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid gray;
}

.lista{
	padding: 40px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 80%;
    margin: 0 auto;
}

.opcion{
	font-size: 4em;
}

#name-user{
	display: block;
    text-align: center;
    font-size: 5em;
}

.contenedor-1{
	position: absolute;
    z-index: 1;
    top: 100px;
    left: 70px;
    width: 18%;
    height: 176px;
    padding: 0px;
    border: 17px solid white;
    border-radius: 50%;
}

.nomb{
	border: none;
}

.peque{
	width: 89%;
    height: 92%;
    margin: 69px auto;
}