body{
	background-color: black;
}

#mapa, .absolute {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.logo{
    position: absolute;
    top: 88px;
    left: 44.5%;
    z-index: 1;
    width: 19%;
}

.icono-1{
	position: absolute;
    top: 150px;
    left: 10%;
    z-index: 1;
    font-size: 5em;
}

.absolute{
	background-color: rgba(0,0,0,.6);
	z-index: 2;
}

.none{
	display: none;
}

#menu{
	position: absolute;
	top: 0;
	bottom: 0px;
	right: 40%;
	left: 0;
	background-color: white;
	z-index: 3;
}

.contenedor{
    border-radius: 50%;
    width: 44%;
    height: 15%;
    margin: 28px 29% 8px;
    border: 1px solid #E3E4E8;
    padding: 6px;
}

.user{
	width: 100%;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #E3E4E8;
}

.lista{
    padding: 14px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
}

.opcion{
	font-size: 4em;
}

#name-user{
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.contenedor-1{
	position: absolute;
    z-index: 1;
    top: 77px;
    left: 35px;
    width: 18%;
<<<<<<< HEAD
    height: 70px;
=======
    height: 60px;
>>>>>>> master
    padding: 0px;
    border: 5px solid white;
    border-radius: 50%;
}

.nomb{
	border: none;
}

.peque{
	width: 89%;
    height: 92%;
    margin: 69px auto;
}

.ver{
    color: gray;
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 14px;
}

.menu-icono{
    color: #00a86b;
}

.regalo-1{
<<<<<<< HEAD
	color: #FA61B8
=======
	color: #FA61B8;
>>>>>>> master
}

.regalo, .menu-icono{
	margin-right: 15px;
}

#buscar-lugar{
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 66%;
    height: 6%;
    font-size: 1.2em;
    background: #00a86b;
    padding: 4px 3%;
    font-weight: bold;
    border: none;
}

#buscar{
    position: absolute;
    bottom: 5%;
    z-index: 1;
    width: 55%;
    height: 6%;
    font-size: 1em;
    left: 11%;
    padding: 11px;
    border: 0px;
}

#direccion{
    padding: 13px 4px;
    background-color: rebeccapurple;
    position: absolute;
    z-index: 1;
    bottom: 13%;
    width: 95%;
    left: 3%;
    color: white;
    font-size: 1.1em;
}